<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>图书馆 | 新一代数字图书馆</title>

    <link rel="icon" href="https://img.zimei.xyz/favicon.ico">
    <link rel="stylesheet" href="static/css/backend-plugin.min.css">
    <link rel="stylesheet" href="static/css/backend.css">
</head>
  <body class=" color-light ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <div class="iq-sidebar  sidebar-default  ">
            <div class="iq-sidebar-logo d-flex align-items-end justify-content-between">
                <a href="" class="header-logo">
                    <img src="static/picture/logo.png" class="img-fluid rounded-normal light-logo" alt="logo">
                    <img src="static/picture/logo-dark.png" class="img-fluid rounded-normal d-none sidebar-light-img"
                         alt="logo">
                    <span>图书管理系统</span>
                </a>
                <div class="side-menu-bt-sidebar-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-light wrapper-menu" width="30" fill="none"
                         viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </div>
            </div>
            <div class="data-scrollbar" data-scroll="1">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="side-menu">
                        <li class="active sidebar-layout">
                            <a href="index" class="svg-icon">
                                <i class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                                        </path>
                                    </svg>
                                </i>
                                <span class="ml-2">首页</span>

                            </a>
                        </li>
                        <li class="px-3 pt-3 pb-2 ">
                            <span class="text-uppercase small font-weight-bold">Application</span>
                        </li>
                        <li class=" sidebar-layout" th:if="${email}=='admin@qq.com'">
                            <a href="reader " class="svg-icon ">
                                <i class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                                        </path>
                                    </svg>
                                </i>
                                <span class="ml-2">读者列表</span>
                            </a>
                        </li>
                        <li class=" sidebar-layout">
                            <a href="book" class="svg-icon">
                                <i class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z">
                                        </path>
                                    </svg>
                                </i>
                                <span class="ml-2">书籍管理</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="pt-5 pb-5"></div>
            </div>
        </div>
        <div th:replace="header.html::title"></div>
      <div class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Default</h4>
                     </div>
                  <div class="header-action">
                           <i data-toggle="collapse" data-target="#form-textarea-1" aria-expanded="false">
                              <svg width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
                              </svg>
                           </i>
                        </div>
                  </div>
                  <div class="card-body">
                     <div class="collapse" id="form-textarea-1">
                           <div class="card"><kbd class="bg-dark"><pre id="Default" class="text-white"><code>
&#x3C;div class=&#x22;form-group&#x22;&#x3E;
   &#x3C;label for=&#x22;exampleFormControlTextarea1&#x22;&#x3E;textarea&#x3C;/label&#x3E;
   &#x3C;textarea class=&#x22;form-control&#x22; id=&#x22;exampleFormControlTextarea1&#x22; rows=&#x22;3&#x22;&#x3E;&#x3C;/textarea&#x3E;
&#x3C;/div&#x3E;
</code></pre></kbd></div>
                        </div>
                     <div class="form-group mb-0">
                        <label for="exampleFormControlTextarea1">textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Horizontal Input</h4>
                     </div>
                  <div class="header-action">
                           <i data-toggle="collapse" data-target="#form-textarea-2" aria-expanded="false">
                              <svg width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
                              </svg>
                           </i>
                        </div>
                  </div>
                  <div class="card-body">
                     <div class="collapse" id="form-textarea-2">
                           <div class="card"><kbd class="bg-dark"><pre id="horizontal-input" class="text-white"><code>
&#x3C;div class=&#x22;form-group row align-items-center&#x22;&#x3E;
   &#x3C;div class=&#x22;col-sm-3 col-4&#x22;&#x3E;
      &#x3C;label class=&#x22;col-form-label&#x22;&#x3E;Description&#x3C;/label&#x3E;
   &#x3C;/div&#x3E;
   &#x3C;div class=&#x22;col-sm-9 col-8&#x22;&#x3E;
      &#x3C;textarea class=&#x22;form-control&#x22; id=&#x22;horizontalTextarea&#x22; rows=&#x22;3&#x22; placeholder=&#x22;Textarea&#x22;&#x3E;&#x3C;/textarea&#x3E;
   &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
</code></pre></kbd></div>
                        </div>
                     <div class="form-group mb-0 row align-items-center">
                        <div class="col-sm-3 col-4">
                           <label class="col-form-label">Description</label>
                        </div>
                        <div class="col-sm-9 col-8">
                           <textarea class="form-control" id="horizontalTextarea" rows="3" placeholder="Textarea"></textarea>
                        </div>
                     </div>
                  </div>
               </div>
            
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Floating Label</h4>
                     </div>
                   <div class="header-action">
                           <i data-toggle="collapse" data-target="#form-textarea-3" aria-expanded="false">
                              <svg width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
                              </svg>
                           </i>
                        </div>
                  </div>
                  <div class="card-body">
                     <div class="collapse" id="form-textarea-3">
                           <div class="card"><kbd class="bg-dark"><pre id="floating-label" class="text-white"><code>
&#x3C;div class=&#x22;form-label-group&#x22;&#x3E;
   &#x3C;textarea class=&#x22;form-control&#x22; id=&#x22;exampleFormControlTextarea2&#x22; rows=&#x22;4&#x22;
      placeholder=&#x22;Label in Textarea&#x22;&#x3E;&#x3C;/textarea&#x3E;
   &#x3C;label&#x3E;Textarea&#x3C;/label&#x3E;
&#x3C;/div&#x3E;
</code></pre></kbd></div>
                        </div>
                     <div class="form-label-group mb-0">
                        <textarea class="form-control" id="exampleFormControlTextarea2" rows="4" placeholder="Label in Textarea"></textarea>
                        <label>Textarea</label>
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Counter</h4>
                     </div>
                   <div class="header-action">
                           <i data-toggle="collapse" data-target="#form-textarea-4" aria-expanded="false">
                              <svg width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
                              </svg>
                           </i>
                        </div>
                  </div>
                  <div class="card-body">
                     <div class="collapse" id="form-textarea-4">
                           <div class="card"><kbd class="bg-dark"><pre id="counter" class="text-white"><code>
&#x3C;div class=&#x22;form-label-group mb-0&#x22;&#x3E;
   &#x3C;textarea data-length=&#x22;20&#x22; class=&#x22;form-control&#x22; id=&#x22;exampleFormControlTextarea3&#x22; rows=&#x22;3&#x22;
      placeholder=&#x22;Counter&#x22;&#x3E;&#x3C;/textarea&#x3E;
   &#x3C;label&#x3E;Counter&#x3C;/label&#x3E;
&#x3C;/div&#x3E;
</code></pre></kbd></div>
                        </div>
                     <div class="form-label-group mb-0">
                        <textarea data-length="20" class="form-control" id="exampleFormControlTextarea3" rows="3" placeholder="Counter"></textarea>
                        <label>Counter</label>
                     </div>
                     <small class="counter-value-text float-right"><span class="char-count">0</span> / 20 </small>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
    </div>
    <!-- Wrapper End-->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right">
                    <span class="mr-1">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></span>
                </div>
            </div>
        </div>
    </footer>    <!-- Backend Bundle JavaScript -->
    <script src="static/js/backend-bundle.min.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="static/js/customizer.js"></script>
    
    <script src="static/js/sidebar.js"></script>
    
    <!-- Flextree Javascript-->
    <script src="static/js/flex-tree.min.js"></script>
    <script src="static/js/tree.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="static/js/table-treeview.js"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="static/js/sweetalert.js"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="static/js/vector-map-custom.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="static/js/chart-custom.js"></script>
    <script src="static/js/01.js"></script>
    <script src="static/js/02.js"></script>
    
    <!-- slider JavaScript -->
    <script src="static/js/slider.js"></script>
    
    <!-- Emoji picker -->
    <script src="static/js/index.js" type="module"></script>
    
    
    <!-- app JavaScript -->
    <script src="static/js/app.js"></script>  </body>
</html>