<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>

<!--                测试-->
                <property name="url" value="jdbc:mysql://120.48.20.150:3306/book_manage"/>
                <property name="username" value="root"/>
                <property name="password" value="98d92c62d0c49974"/>

<!--                部署-->
<!--                <property name="url" value="jdbc:mysql://101.132.139.127:3306/book_manage"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="RYYTeEsfcMM4EDDB"/>-->

                <!--是否启用侦测查询。若开启，也必须使用一个可执行的 SQL 语句设置 poolPingQuery 属性（最好是一个非常快的 SQL），默认值：false。 -->
                <property name="poolPingEnabled" value="true" />
                <!--配置 poolPingQuery 的使用频度。这可以被设置成匹配具体的数据库连接超时时间，来避免不必要的侦测，默认值：0（即所有连接每一时刻都被侦测 — 当然仅当 poolPingEnabled 为 true 时适用） 3600000为1个小时-->
                <property name="poolPingConnectionsNotUsedFor" value="3600000" />
                <!--发送到数据库的侦测查询，用来检验连接是否处在正常工作秩序中并准备接受请求。默认是“NO PING QUERY SET”，这会导致多数数据库驱动失败时带有一个恰当的错误消息。 -->
                <property name="poolPingQuery" value="select 1" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.book.dao"/>
    </mappers>
</configuration>