<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>图书馆 | 新一代数字图书馆</title>

    <link rel="stylesheet" href="static/css/backend-plugin.min.css">
    <link rel="stylesheet" href="static/css/backend.css">
</head>

<body class="  ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <div class="iq-sidebar  sidebar-default  ">
        <div class="iq-sidebar-logo d-flex align-items-end justify-content-between">
            <a href="" class="header-logo">
                <img src="static/picture/logo.png" class="img-fluid rounded-normal light-logo" alt="logo">
                <img src="static/picture/logo-dark.png" class="img-fluid rounded-normal d-none sidebar-light-img"
                     alt="logo">
                <span>图书管理系统</span>
            </a>
            <div class="side-menu-bt-sidebar-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-light wrapper-menu" width="30" fill="none"
                     viewbox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </div>
        </div>
        <div class="data-scrollbar" data-scroll="1">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="side-menu">
                    <li class=" sidebar-layout">
                        <a href="index" class="svg-icon">
                            <i class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                                    </path>
                                </svg>
                            </i>
                            <span class="ml-2">首页</span>
                            <p class="mb-0 w-10 badge badge-pill badge-primary">6</p>
                        </a>
                    </li>
                    <li class="px-3 pt-3 pb-2 ">
                        <span class="text-uppercase small font-weight-bold">Application</span>
                    </li>
                    <li class="active sidebar-layout">
                        <a href="reader " class="svg-icon ">
                            <i class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                                    </path>
                                </svg>
                            </i>
                            <span class="ml-2">读者列表</span>
                        </a>
                    </li>
                    <li class=" sidebar-layout">
                        <a href="book" class="svg-icon">
                            <i class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z">
                                    </path>
                                </svg>
                            </i>
                            <span class="ml-2">书籍管理</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="pt-5 pb-5"></div>
        </div>
    </div>
    <div th:replace="header.html::title"></div>
    <div class="content-page">

        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <div class="d-flex flex-wrap align-items-center justify-content-between my-schedule mb-4">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4 class="font-weight-bold">Reader</h4>
                        </div>
                        <div class="create-workform">
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <div class="modal-product-search d-flex">
                                    <form class="mr-3 position-relative">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control" id="exampleInputText"
                                                   placeholder="Search Customer">
                                            <a class="search-link" href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="20"
                                                     fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          stroke-width="2"
                                                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </form>
                                    <a href="add-reader"
                                       class="btn btn-primary position-relative d-flex align-items-center justify-content-between">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none"
                                             viewbox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                        添加读者
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-block card-stretch">
                                <div class="card-body p-0">
                                    <div class="d-flex justify-content-between align-items-center p-3">
                                        <h5 class="font-weight-bold">读者列表</h5>
                                        <button class="btn btn-secondary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20"
                                                 fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      stroke-width="2"
                                                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4">
                                                </path>
                                            </svg>
                                            导出
                                        </button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table data-table mb-0">
                                            <thead class="table-color-heading">
                                            <tr class="">
                                                <th scope="col" class="pr-0 w-01">
                                                    <div
                                                            class="d-flex justify-content-start align-items-end mb-1 ">
                                                        <div
                                                                class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox"
                                                                   class="custom-control-input m-0"
                                                                   id="customCheck1">
                                                            <label class="custom-control-label"
                                                                   for="customCheck1"></label>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th scope="col">
                                                    姓名
                                                </th>
                                                <th scope="col">
                                                    邮箱
                                                </th>
                                                <th scope="col">
                                                    性别
                                                </th>
                                                <th scope="col">
                                                    电话
                                                </th>

                                                <th scope="col" class="text-right">
                                                    删除
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="reader:${reader_list}" class="white-space-no-wrap">
                                                <td class="pr-0 ">
                                                    <div
                                                            class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input m-0"
                                                               id="customCheck">
                                                        <label class="custom-control-label"
                                                               for="customCheck"></label>
                                                    </div>
                                                </td>
                                                <td class="">
                                                    <div
                                                            class="active-project-1 d-flex align-items-center mt-0 ">

                                                        <div class="data-content">
                                                            <div>
                                                                        <span  th:text="${reader.getName()}" class="font-weight-bold">迪爵</span>
                                                            </div>
                                                            <p  th:text="${reader.getState()}"  class="m-0 text-secondary small">
                                                                大三
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td  th:text="${reader.getMail()}" >
                                                    123@qq.com
                                                </td>
                                                <td  th:text="${reader.getSex()}" >
                                                    男
                                                </td>
                                                <td  th:text="${reader.getPhone()}" >
                                                    +1 (021) 145-2256
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-end align-items-center">

                                                        <a class="badge bg-danger" data-toggle="tooltip"
                                                           data-placement="top" title=""
                                                           data-original-title="Delete" th:href="'delete-reader?mail='+${reader.getMail()}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                 fill="none" viewbox="0 0 24 24"
                                                                 stroke="currentColor">
                                                                <path stroke-linecap="round"
                                                                      stroke-linejoin="round" stroke-width="2"
                                                                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Wrapper End-->
<footer class="iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                    <span class="mr-1">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank"
                                                                                                 href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></span>
            </div>
        </div>
    </div>
</footer> <!-- Backend Bundle JavaScript -->
<script src="static/js/backend-bundle.min.js"></script>
<!-- Chart Custom JavaScript -->
<script src="static/js/customizer.js"></script>

<script src="static/js/sidebar.js"></script>

<!-- Flextree Javascript-->
<script src="static/js/flex-tree.min.js"></script>
<script src="static/js/tree.js"></script>

<!-- Table Treeview JavaScript -->
<script src="static/js/table-treeview.js"></script>

<!-- SweetAlert JavaScript -->
<script src="static/js/sweetalert.js"></script>

<!-- Vectoe Map JavaScript -->
<script src="static/js/vector-map-custom.js"></script>

<!-- Chart Custom JavaScript -->
<script src="static/js/chart-custom.js"></script>
<script src="static/js/01.js"></script>
<script src="static/js/02.js"></script>

<!-- slider JavaScript -->
<script src="static/js/slider.js"></script>

<!-- Emoji picker -->
<script src="static/js/index.js" type="module"></script>


<!-- app JavaScript -->
<script src="static/js/app.js"></script>
</body>

</html>